body {
    background: #222; 
}

#main-container {
    height: 100%;
    margin: 0 auto;
    display: table; /* Vertical align */   
}

#container {
    height: 100%;
    padding: 0 24px;
    display: table-cell; /* Vertical align */
    vertical-align: middle; /* Vertical align */
}

#main-header {
    font-size: 5em;
    text-align: center;
    font-family: PT-Mono, Montserrat, serif;
    color: #FFF;
}

#vanity-subtext {
    font-size: 2.00em;
    text-align: center;
    font-family: Maven Pro, sans-serif;
    font-style: oblique;
    color: 	#777;
}

#profile {
	margin: 15%;
    border-radius: 50%;	
	border: 1px solid black;
	box-shadow: 0 0 1em black;
}

.img-container {
    height:75%;
    width:75%;
	margin: 5%;
	border: 1px solid black;
	box-shadow: 0 0 1em black;

}

::selection {
	background: #908cba;
}

.valign-middle {
    height: 100%;
    margin: 0 auto;
    display: table; /* Vertical align */   
}

.valign-middle .columns {
    height: 100%;
    padding: 0 24px;
    display: table-cell; /* Vertical align */
    vertical-align: middle; /* Vertical align */
}

.section {
    min-height: 90%;
}

.section-adj {
    max-height: 50%;
    min-height: 50%;
}

.section-half {
    min-height: 50%;
    max-height: 50%;
}

.post-section {
    margin-top: 1%;
    max-height: 90%;
    min-height: 90%;
}

.nav-back {
    background: #222;  
}

.greet {
    font-size: 2.00em;
    font-family: Maven Pro, sans-serif;
    color: white;
}

.link {
    font-size: 1.2em;
    font-family: Maven Pro, sans-serif;
    text-align: center;   
}

.link-contact {
    font-size: 1.05em;
    font-family: Maven Pro, sans-serif;
    text-align: center;
    color: #777
}

.size-2 {
    font-size: 1.5em; 
}

.custom-center {
    text-align: center;
}

.cust-cen {
    margin-left: 25%;
}

.title-bar {
    overflow: hidden;
    height: 75px;
    line-height: 65px;
    position: relative;
    background: #222;
    margin-bottom: 0; 
}

.title-header {
    font-family: Montserrat, sans-serif;
    text-align: center;
    color: #908cba;
}

.up-arrow {
    display:block;
	position: relative;
    content: "";
    height:0;
    width:0;
    padding:0;
    margin:-8px;
    border:16px solid transparent;
    border-bottom-color:#CCC;
    border-top-color:transparent;
}

.down {
    width: 0;
    height: 0;
    opacity: 0.15;
    border-style: solid;
    border-width: 50px 50px 0 50px;
    border-color: #777 transparent transparent transparent;
}

.down:hover {
    opacity: 0.2;
}

.bot {
    display: none;
	position: fixed;
    right:3%;
    bottom:4%;
}

.min-5 {
    min-height: 5%;
    max-height: 5%;
}

.min-10 {
    min-height: 10%;
    max-height: 10%;
}

.min-90 {
    min-height: 90%;
    max-height: 90%;
}

.contenta {
    width: 55%;
}

.content-box-desc {
    color: #FFF;   
}

.side-nav {
  position: fixed;
}

.post-title {
    font-family: Montserrat, sans-serif;
    color: #F2502C; 
}

.mini-header-purple {
    font-family: Montserrat, sans-serif;
    color: #908cba;
}
/*+#F2502C, #CS4231, #EB5240, #AD5758, #825B60, #46626D, #BBBEAD
+#A43F13, #F1FF11, #A1BDA6, #638398, #37678
*/
.light-text {
    font-family: Maven Pro, sans-serif;
    opacity: 0.5;
    color: #777;
}

.date-text {
    font-family: Maven Pro, sans-serif;
    color:  #908cba;
}

.cmd-text {
    font-family: Maven Pro, sans-serif;
    color: #D2502C;
}

.text {
    font-family: Maven Pro, sans-serif;
    color: white;
}
