/* TAGS */   
html {
    height: 100%;
}

body {
    min-height:100%;
    width: 100%;
}

a {
    color: #2F84A9;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a li:hover {
    color: #215C76;
}

a:active {
    text-decoration: none;
}

.header:active {
    text-decoration: none;
}

/* Page Layout */   
.section {
  min-height: 100vh;
  width: 100%;
  margin:  0 auto;
  position: absolute;
  overflow: hidden
}

.row-ext {
    min-width: 100%;
    height: 100%;
    background: red;
    display: block;
    margin: 0 auto;
    overflow: hidden
}

.col-ext {
    min-height: 100vh;
    overflow: hidden;
    margin:  0 auto;
}

.row{
    overflow: hidden; 
}

[class*="col-"]{
    margin-bottom: -99999px;
    padding-bottom: 99999px;
}

.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}

/* Color Aesthetics */
.c1 {
    background-color: #EBEBEB;
}

.c2 {
    background-color: #E8E8E8;
}

.c3 {
    background-color: #E5E5E5;
}

.lc {
    color: #2F84A9;
}

.firec {
    color: #E42535;
}

.lookc {
    color: #903640;
}

/* headers */
.section-header {
    font-family: PT-Mono, Montserrat, serif;
    text-align: center;
    display: block;
    color: #121212;
}

.section-font-pri {
    display: block;
    font-size: 5.8em;
    height: 15%;
}

.section-font-sec {
    font-size: 3.5em;
    height: 10vh;
    margin-top: 3%;
    margin-bottom: 3%;
}

/* about column */
.about-content { 
    font-family: Montserrat, serif;
    width: auto;
    margin: 0 auto;
    display: block;
    text-align: center;    
}

.about-text{
    margin-top: 3%;
    margin-left: 1%;
    margin-right: 1%;
    width: 100%
    text-align: center;
}

.about-links {
    display: block;
    margin-top: 12.5%;
    text-align: center;   
    font-family: PT-Mono, Montserrat, serif;
    text-align: center;
    clear: both;
    margin-right: 7%;
}

.inline-list {
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
}

.inline-list li{
    display: inline-block;
    padding-left: 3%;
    padding-right: 3%;
    text-align: center;
}

#profile {
  display: absolute;
  text-align: center;
  border-radius: 50%; 
  border: 1px solid black;
  box-shadow: 0 0 1em black;
}

.la {
    height: 100%;
}

/* project column */
#proj-note {
  height: 3%;
  font-family: Montserrat, serif;
  text-align: center;
}

.project-box {
    font-family: PT-Mono, Montserrat, serif;
    height: 20%;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 3%;
    margin-bottom: 3%;
}

.project-footer {
    font-family: PT-Mono, Montserrat, serif;
    margin-top: 4%;
    margin-bottom: 4%;
    text-align: center;
    position: relative;
    bottom: 0;
}

/* blog column */
.blog-content {
    font-family: PT-Mono, Montserrat, serif;
    height: 50vh;
    margin-left: 10%;
    font-size: 1.2em;
}

.more1 {
    font-family: PT-Mono, Montserrat, serif;
    height: 20vh;
    margin-left: 10%;
}

.more2 {
    font-family: PT-Mono, Montserrat, serif;
    position: relative;
    bottom: 0;
    margin-left: 10%;
    margin-bottom: 5%;
}

.blog-content ul {
   list-style-type: none;
}

.blog-content ul a {
    color: #2F84A9;
}




